.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;
}
.center h2 {
  width: 60%;
  text-align: center;
  height: 38px;

  /* Header web */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #000000;
}
.center p {
  width: 705px;
  height: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}
.image {
  position: relative;
  width: 445px;
  height: 192px;

  background: #dadada;
  border-radius: 8px;
}
.center-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  gap: 12px;
  padding-bottom: 20px;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.optionContainers {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media screen and (max-width: 880px) {
  .optionContainer {
    flex-direction: column;
    width: 100%;
  }
  .optionContainers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .center p {
    width: 100%;
  }
  .center h2 {
    width: 100%;
    text-align: center;
  }
  .image {
    margin-top: 20px;
    width: 100%;
  }
}
