.icon {
  position: absolute;
  width: 25px;
  height: 24px;
  left: 0px;
  /* top: 0px; */
  background: #d9d9d9;
  border-radius: 10px;
}

.formsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;

  /* position: absolute; */
  width: 300px;
  height: 48px;
  /* left: 261px;
  top: 15px; */

  background: #f5f5f5;
  border-radius: 8px;
}
.formsearch2:focus {
  border-color: transparent;
  outline-color: transparent;
  background-color: #f5f5f5;
}
.formsearch2 {
  width: 200px;
  height: 20px;

  /* Body text */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141.9%;
  /* identical to box height, or 20px */
  border-color: transparent;
  /* white/20 */
  background-color: #f5f5f5;
  color: #747979;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.navbar {
  position: relative;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.09);
  padding-left: 20px;
  padding-right: 10px;
}

.anchorContainer {
  width: 100px;
  height: 40px;
  padding-left: 20px;
  background: #1c1b1f;
  border-radius: 8px;
  color: white;
}
.navbar-light .navbar-brand {
  color: #ffffff;
}
.navbar-brand {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

.link {
  color: black;
  text-decoration: none;
  padding-left: 2px;
}
.navbar-collapse {
  flex-grow: 0;
  justify-content: space-around;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: block;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.navbar-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.profile {
  background-color: white;
  border-color: transparent;
  border-radius: 12px;
}
.dropdown .nav-link {
  background-color: white;
}
.dropdown-menu {
  /* background-color: transparent; */
  border: none;
}
@media screen and (max-width: 991px) {
  .icons {
    display: none !important;
  }
  .formsearch {
    width: 80%;
    height: 45px;
  }
  .anchorContainer {
    display: none;
  }
}

.anchorContainer2 {
  display: none;
  width: 100px;
  height: 40px;
  padding-left: 20px;
  background: #1c1b1f;
  border-radius: 8px;
  color: white;
}
@media screen and (max-width: 990px) {
  .anchorContainer2 {
    display: block;
  }
  .mobileContainer {
    display: flex;
    justify-content: space-between;
  }
}
